.header {
    background: #F3F7F9;
    padding-bottom: 60px;
}

.header__info {
  display: flex;
  justify-content: space-between;
margin-bottom: 40px;
}

.header__description {
    font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #EE3643;
  width: 197px;
  margin: 0;
  margin-left: 30px;
}

.header__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__login-link {
    text-decoration: none;
    font-family: "Cuprum", "Arial", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 21px;
color: #000000;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 27px;
padding-left: 45px;
background: #FFFFFF;
margin-right: 10px;
position: relative;

&::before {
    content: "";
    position: absolute;
    background: url(../../img/icon-login.svg);
    width: 20px;
    height: 17px;
    top: 13px;
    left: 17px;
}
}

.header__registration-link {
    text-decoration: none;
    font-family: "Cuprum", "Arial", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 21px;
color: #000000;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 24px;
padding-left: 24px;
background: #FFFFFF;}

.header__contacts-phone {
    text-decoration: none;
    font-family: "Cuprum", "Arial", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 30px;
color: #EE3643;
display: block;
border: 3px solid #FFFFFF;
padding-top: 7px;
padding-bottom: 8px;
padding-right: 45px;
padding-left: 74px;
margin-bottom: 3px;
position: relative;

&::before {
    content: "";
    position: absolute;
    background: url(../../img/icon-phone.svg);
    width: 19px;
    height: 19px;
    top: 13px;
    left: 17px;
    top: 14px;
    left: 37px;
}

}

.header__contacts-address {
    font-family: "Cuprum", "Arial", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #32425C;
margin: 0;
text-align: center;
}